body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #434455;
    background-color: #FFF;
}

h2,h3,h4,h5,h6 {
    color: #2E2F42;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

p,h1,h2,h3,h4,h5,h6 {
    margin-top: 0px;
    margin-bottom: 0px; 
}

ul, ol {
	list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    margin-bottom: 32px;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 24px 156px;
    border-bottom: 1px solid #E7E9FC;
    background-color: #FFF;
}

/* Logo */
.logo-link {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}
.logo-black {
    color: #2E2F42;
}
.logo-white {
    color: #F4F4FD;
}

/* Menu header */
.header-menu {
    display: flex; 
    flex-grow: 1;
}

.header-menu-nav {
    display: flex;
    gap: 40px;
}

.header-menu-link {
    font-weight: 500;
    color: #2E2F42;
}
.header-menu-link:hover, 
.header-menu-link:focus {
    color: #404BBF;
}

/* Contacts header */
.address {
    font-style: normal;
}

.address ul {
    display: flex;
    gap: 40px;
}

.address-link {
    color: #434455;
    display: flex;
}
.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

/* Section 1 */
.hero-image {
    background-color: #2E2F42;
    padding: 188px 472px;
}

.hero-image-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFF;
    max-width: 496px;
    margin-bottom: 48px;
}

.hero-image-button {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFF;
    background-color: #4D5AE5;
    cursor: pointer;
}

.hero-image-button:hover,
.hero-image-button:focus {
    background-color: #404BBF;
}

/* Section 2 */
.section {
    padding: 120px 156px;
}

.advantages-list {
    display: flex;
    gap: 24px;
}

.title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

/* Section 3 */
.section-team {
    background-color: #F4F4FD;
}

.team-title {
    text-align: center;
    line-height: 1.11;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-speciality {
    background-color: #FFF;
    padding-bottom: 32px;
}

.team-speciality .title,
.team-speciality .text {
    text-align: center;
}

/* Section 4 */
.portfolio-title {
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    width: calc((100%-48px)/3);
    flex-wrap: wrap;
    gap: 24px;
}

.portfolio-list-items {
    border: 1px solid #E7E9FC;
}

/* Footer */
.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    padding-top: 101px;
    padding-right: 1020px;
    padding-bottom: 100px;
    padding-left: 156px;
}

.footer .text {
    margin-top: 17px;
}